:focus {outline:none;}
::-moz-focus-inner {border:0;}
html {margin: 0em;}
body {
    font-family: sans-serif;
    font-size: 1.2em;
    margin-right: 0em;
    margin-left: 0;
    margin-top: 0em;
    background: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
}

input, select, option, button {
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
}

div#headerWrapper {
    background: #0082C9;
    padding-bottom: 0.5em;
}

div#header {
    color: #ffffff;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    text-align: left;
    padding-bottom: 0.5em
    border-bottom: solid 0.1em #ffffff;
}

h1 {
    display: inline-block;
    font-size: 3em;
    font-family: 'Italianno', cursive;
    color: white;
    font-weight: normal;
    margin-top: 0em;
    margin-bottom: 0em;
    line-height: 1em;
}

h1 a {
    margin-left: 0 !important;
}

div#header a {
    color: white;
    margin-right: 0em;
    margin-left: 1.2em;
    
}

div#header input {
    margin-right: 0.3em;
    margin-bottom: 0.3em;
}

div#header .mobile img {
    max-width: 1.7em;
    filter: invert(100%);
}

div#header #loginForm {
    display: none;
}

div#header #feedback {
    font-weight: bold;
    margin-bottom: 0.3em;
}

div#header #feedback p {
    margin: 0;
}

div#header #feedback .notice {
    color: rgb(117, 255, 51);
}

div#header #feedback .warning {
    color: rgb(255, 189, 51);
}

div#header #feedback .error {
    color: rgb(255, 87, 51);
}

div#header div#feedback a {
    color: inherit;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

a {
    color: inherit;
    text-decoration: none;
    box-sizing: border-box;
    margin-right: 1.2em;
}

li a {
    width: 100%;
    padding: 0.5em;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
    clear: both;
    margin-left: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 0em;
    padding-top: 0.5em;
    border-top: 0.01em solid rgb(200,200,200);
}
body > ul:first-of-type > li:first-child {
    border-top: none;
}

body > ul:first-of-type {
    margin-right: 2em;
}

li.folder, li.file {
}

li.folder img, li.file img {
    margin-right: 1em;
    height: 2em;
    width: auto;
}

li ul {
    display: none;
}

li .inlineForm {
    display: inline-block;
    margin-left: 3em;
}

li .submitForm {
    display: none;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
}
li .submitForm:after {
    content: "";
    display: table;
    clear: both;
}

li img {
    max-width: 2em;
}

li a.editicons {
    display: inline;
    margin-right: 0.3em;
    padding: 0em;
}

li .usermodForm, li .setpwdForm {
    display: none;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
li .usermodForm input, li .setpwdForm input, li .inlineForm input, li .inlineForm select, li .submitForm select, li .inlineForm button, li .submitForm button {
    margin-right: 0.3em;
    margin-top: 0.3em;
}

.submitForm select, .submitForm input {
    margin-bottom: 0.5em;
}

.desktop li.file {
    position: relative;
}

.inlineForm {
    float: right;
}

div.attrtext {
    line-height: 130%;
    margin-left: 2em;
}

div.configForm {
    margin-left: 2em;
    margin-top: 1em;
}

@media screen and (min-width: 70rem) {
    .mobile {display: none !important;}
}

@media screen and (max-width: 70rem) {
    .desktop {display: none !important;}
}