div#touchbar {
    background: rgba(0,0,0,0.4);
    position: fixed;
    left: 0;
    top: 0.5em;
    z-index:10;
    padding-left: 1em;
    padding-right: 0.5em;
}

div#touchbar a {
    padding: 0.2em;
    margin: 0.3em;
    min-width: 2em;
    min-height: 2em;
    display: inline-block;
    border: 0.2em solid rgba(180,180,180,0.8);
    text-decoration: none;
    color: rgba(180,180,180,0.8);
    font-weight: bold;
}